.table-form
{
   width: 70%;
   margin: 0 auto;
}

/*
#content-numero
{
   cursor: pointer;
   margin:0 auto; 
   border: 2px solid #e3e3e3; 
   text-align:center;
   width: 30%; 
   border-radius: 8px;
}

#numero-factura
{
   margin:0 auto; 
}

#BtnFactura
{
   float:left;
   border-right: 2px solid #e3e3e3;
   padding:8px;
}

*/
