/*--------------------------------------------
HISTORIA
--------------------------------------------*/

table
{
   border: 1px solid #e3e3e3;
   margin-bottom:4px;
}

#historia-ultimocontrol
{
   margin:0 auto; 
   border: 1px solid #e3e3e3; 
   width: 30%; padding: 8px; 
   border-radius: 8px;
}

#historia-ultimocontrol #texto
{
   float:left;
}

#historia-ultimocontrol > #numero
{
   float: left;
   font-weight: bold;
}

.summary td 
{
   width: 16%;
   text-align: center;
}

.cerrar-historia
{
  color:blue;
  text-align:center;
  cursor:pointer;
}
/* -------------------------------------------- */

textarea
{
   width:100%;
}

/*
.tabular-data
{
   font-size: 10pt;
   border: 1px solid #e3e3e3;
}
.tabular-data thead tr th 
{
   background-color: #e3e3e3;
}
.tabular-data tbody tr td
{
   border: 1px solid #e3e3e3;
}

.cliente-error
{
  color: red;
  font-size: 0.9em;
}
*/

/* Para los recuadros */
fieldset
{
   border: 1px solid #e3e3e3;
   padding: 4px;
}
legend
{
   margin-left: 14px;
}

/*  */
/*

#formFirma,#formSucursal
{
   border: 1px solid #e3e3e3;
   width: 100%;  
}
#formFirma,#formSucursal tr td 
{
   border: 1px solid #e3e3e3;
}
  
*/ 
/* PARA LA VISTA */
#border-view
{
   border: 1px solid #e3e3e3;
   padding: 8px;
   border-radius: 15px;
}

#cliente_view
{
   width: 100%;
   border: 1px solid #e3e3e3;
   border-collapse: collapse;
}

#cliente_view tr td {
   border: 1px solid #e3e3e3;
   padding: 8px;
}
