/* */

#detalle-compra 
{ 
   border: 1px solid #e3e3e3; 
   border-collapse: collapse; 
}   
#detalle-compra thead tr th
{
   text-align: center;
   font-size: 9pt;
   border: 1px solid #e3e3e3;
   background-color: #1378b2;
   color: #fff;
}

#detalle-compra tbody tr td 
{ 
   padding: 4px;
   border: 1px solid #e3e3e3;
   font-size: 9pt;
}
#detalle-compra tbody tr.inf td 
{ 
   border-top: none; 
}
#detalle-compra tbody tr.sup td 
{ 
   border-bottom: none; 
}
#detalle-compra tbody tr.sup 
{
   padding:20px;
}
.add-iva
{ 
   font-size: 7pt;
}
.hide
{ 
   display:none;
}
