#viewMateriales
{
   max-height:400px;
   overflow:auto;
}

.tabular-data
{
   font-size: 10pt;
}
.tabular-data thead tr th 
{
   background-color: #fff;
   border: 1px solid #e3e3e3;
}

.tabular-data tbody tr td
{
   border: 1px solid #e3e3e3;
}

.tabular-data thead tr th.sistema 
{
   text-align:center;
   background:#c3ebef;
}

.tabular-data thead tr th.real 
{
   text-align:center;
   background:#ebc3ef;
}

.tabular-data thead tr th.diferencia 
{
   text-align:center;
   background:#f2e3b7;
}

.tabular-data tbody tr td.sistema_light
{
   text-align:center;
   background:#e0f7f9;
} 

.tabular-data tbody tr td.sistema_dark
{
   text-align:center;
   background:#c5e9ec;
}

.tabular-data tbody tr td.real_light
{
   text-align:center;
   background:#f8e7f9;
} 

.tabular-data tbody tr td.real_dark
{
   text-align:center;
   background:#eed8ef;
}

.tabular-data tbody tr td.diferencia_light
{
   text-align:center;
   background:#f9f2dc;
} 

.tabular-data tbody tr td.diferencia_dark
{
   text-align:center;
   background:#f3ead0;
}

.tabular-data tbody tr td.descripcion_light
{
   background:#fff;
} 

.tabular-data tbody tr td.descripcion_dark
{
   background:#f5f5f5;
}

.rojo 
{
   font-weight: bold;
   color:red;
}
