table
{
   margin:0 auto;
   border: 1px solid #e3e3e3;
   width: 90%;
}
td {
   border: 1px solid #d3d3d3;
   text-align:right;
   background: #E7E7E8;
}

td.title
{
   /*font-weight: bold;*/
   background: #80A1B6;
   color: white;
}

td.title2
{
   /*font-weight: bold;*/
   background: #F47B20;
   color: white;
}

th
{ 
   font-weight: bold;
   text-align:center;
   background-color: #004165;
   color: white;
   border: 1px solid #e3e3e3;
}

h3
{
   text-align:center;
}

.relleno
{
   background: #f1f1f1;
   border: none;
}
