#layout_factura
{
   font-family: sans-serif;
   width: 100%; 
}
#layout_factura table 
{ 
   width: 100%;
   border-collapse:collapse; 
}

#layout_factura table td.label,th 
{ 
   font-size: 7pt;
   border: 1px solid #e3e3e3; 
}


#layout_factura td,th 
{ 
   font-size: 9pt;
   border: 1px solid #e3e3e3; 
}

layout_factura table.footer 
{
   text-align:right;
}

.hoja
{
   font-weight: bold;   
}

.imprenta_head
{
   height:90px;
}

.numeracion
{
   text-align:right; 
   font-weight: bold; 
   font-size: 14pt;
}

#factura-original 
{
   margin-top: 1.5cm;
   /*border:1px solid black;*/
   height: 12cm;
}

#factura-copia {
   margin-top: 1.5cm;
   /*border:1px solid black;*/
   height: 12cm;
}

.label-summary
{
   font-weight: bold;
}

.value-summary
{
   text-align: right;
}

.monto
{
   text-align:right;
}
