#resumen
{
   text-align:center;
}

#base-box
{
   margin-right: 8px; 
   background: #C5E9EC; 
   float:left; 
   text-align: center; 
   border:2px solid #e3e3e3;
   padding:8px; 
   border-radius: 15px; 
   width: 10%;
}

#base-box div#base
{
   color:#001F50; font-weight: bold; 
   font-size:14pt;
}

#iva-box
{
   margin-right: 8px; 
   background: #F8E7F9; 
   float:left; 
   text-align: center; 
   border:2px solid #e3e3e3;
   padding:8px; 
   border-radius: 15px; 
   width: 10%;
}

#iva-box div#iva
{
   color:#001F50; font-weight: bold; 
   font-size:14pt;
}

   
#total-box
{
   margin-right: 8px; 
   background: #C5E9EC; 
   float:left; 
   text-align: center; 
   border:2px solid #e3e3e3;
   padding:8px; 
   border-radius: 15px; 
   width: 10%;
}


#total-box div#total
{
   color:#001F50; 
   font-weight: bold; 
   font-size:14pt;
}

#pagado-box
{
   margin-right: 8px; 
   background: #E6F2FF; 
   float:left; 
   text-align: center; 
   border: 2px solid #e3e3e3;
   padding: 8px; 
   border-radius: 15px; 
   width: 10%;
}

#pagado-box div#pagado
{
   color:green; 
   font-weight: bold; 
   font-size:14pt;
}

#resta-box
{
   background:#FCF7CA; 
   float:left; 
   text-align: center; 
   border: 2px solid #e3e3e3;
   padding: 8px; 
   border-radius: 15px; 
   width: 10%;
}

#resta-box div#resta
{
   color: orange; 
   font-weight: bold; 
   font-size:14pt;
}

#cancelacion-box
{
   margin-left:10px;
   /*border: 1px solid yellow;*/
   text-align:center;
   float:left;
}

#cancelacion
{
   border:2px solid #e3e3e3;
   padding: 4px;
   border-radius: 10px;
   color: green;
   font-weight: bold; 
   background: #b7f0c6;
}


.myCustomClass.ui-tooltip
{
	min-width: 800px;
}
