/* 
 * Css utilizado para el modulo de ordenes de trabajo
 * Ultima Revision: 29/10/2012
 *
 * */   

#content-numero
{
   cursor: pointer;
   margin:0 auto; 
   border: 2px solid #e3e3e3; 
   text-align:center;
   width: 30%; 
   border-radius: 8px;
}

#numero-factura
{
   margin:0 auto; 
}

#BtnFactura
{
   float:left;
   border-right: 2px solid #e3e3e3;
   padding:8px;
}


p.note
{
   font-family: Arial,sans-serif;
   font-style: none;
   text-align:right;
   margin:0 auto;
   background: #fcf7ca;
   padding: 4px;
   border-radius: 8px;
   margin-bottom: 4px; 
}

.table-form
{
   font-size:10pt;
   border-collapse: collapse;
   font-family: Arial,sans-serif;
}

.table-form tr td
{
   border: 1px solid #e3e3e3;
}

.table-form tr td label
{
   font-weight: normal;
}


/* para resumenes de cantidades */

.table-form tr td.summary-label
{
   width: 80%;
   background: #E6F2FF;
   font-weight: bold;
   text-align: right;
}

.table-form tr td.summary-value
{
   background: #F5F5F5;
   text-align:right;
}

.table-form tr td.summary-label div
{
   font-weight: bold;
}
.table-form tr td.summary-value div
{
   text-align: right;
}

/* para data tabular */

.table-form thead tr th 
{
   text-align:center;
   background: #f5f5f5;
   border: 1px solid #e3e3e3;
}

.table-form tbody tr td 
{
   background: white;
   border: 1px solid #e3e3e3;
}

.table-form tbody tr td.amount 
{
   /*background: white;*/
   border: 1px solid #e3e3e3;
   text-align:right;
}

.table-form tbody tr.odd td
{
   background:#f5f5f5;
}

.table-form tbody tr td.title
{
   background: #FCF7CA;
}

.table-form tfoot tr td 
{
   background: white;
   border: 1px solid #e3e3e3;
   text-align:center;
}


input,textarea,select 
{ 
   /*border: 1px solid #e3e3e3;*/ 
   font-family: Arial,sans-serif;
   /*background: #F5F5F5;*/
}
textarea 
{ 
   width:100%; 
}

.esp-pago 
{ 
   background-color: #B8E8F4; 
}