/*
 * CSS para la impresion de la orden de trabjo
 * */

body { 
   font-size: 8pt;
   font-family: sans-serif;   
   width: 800px; 
}

.ordenTrabajo-header
{
   border: 1px solid black;
   border-collapse: collapse;
   width: 100%;
} 
         
.ordenTrabajo-header tr td 
{
   border: 1px solid black;
   padding: 6px;
}

.numeracion
{
   text-align: right;
}
         
.ordenTrabajo-items
{
   border: 1px solid black;
   border-collapse: collapse;
   width: 100%;
}

.ordenTrabajo-items thead tr td
{
   border: 1px solid black;
   padding: 6px;
}

.ordenTrabajo-items tbody tr td
{
   border: 1px solid black;
   padding: 6px;
} 

.ordenTrabajo-items tfoot tr td
{
   border: 1px solid black;
   padding: 6px;
}

.ordenTrabajo-abono 
{
   border: 1px solid black;
   border-collapse: collapse;
   width: 100%;
}

.ordenTrabajo-abono tr td 
{
   padding: 6px;
   border: 1px solid black;
}

.observaciones
{
   border: 1px solid black; padding: 4px;
}

.firma hr
{
   width: 60%;
   /*border: 1px solid black;*/
   margin: 0px auto;
   padding: 0px;
}

.firma
{
   width: 50%;
   float: left;
}
