hr { margin: 4px; }

.row-data
{
   border: 1px solid #e3e3e3; 
   padding: 8px; 
   border-collapse: collapse;
}

.cnum
{
   padding: 4px;
   border:1px solid #e3e3e3;
   cursor: pointer;
   background: #FDF0BB;
   /*margin-bottom: 6px;*/
}

a.cnum:focus,a.cnum:hover
{
   padding: 4px;
   border:1px solid #e3e3e3;
   cursor: pointer;
   background: #FBE384;
}

.cnum-box-head
{
   float:left;
}

.cnum-box
{
   padding: 8px;
}

.cnum-box-table
{
   border: 1px solid #e3e3e3;
   margin: 2px;
}

.cnum-box td { border: 1px solid #e3e3e3; }

.cnum-title

{
   border: 1px solid #e3e3e3;
   text-align:center;
   background: #E6F2FF;
}

.producto
{
   margin-bottom: 20px;
}
.producto a 
{
   color: #4C7297 !important;
   font-weight: bold;
}

.precio-unitario
{
   padding: 8px;
   background-color: #f5f5f5;
   font-size: 12pt;
   width: 80px;
   border: 1px solid #e3e3e3;
   margin-left: 0px;
   display: block;
   float:left;
   text-align:right;
}

.precio-unitario-label
{
   padding: 8px;
   font-size: 12pt;
   width: 150px;
   margin-left: 0px;
   display: block;
   float:left;
   border: 1px solid #e3e3e3;
}

.row-subtotal-label 
{ 
   background: #E6F2FF;
   font-weight: bold;
   padding: 8px;
   font-size: 12pt;
   width: 150px;
   display: block;
   float: right;
   border: 1px solid #e3e3e3;
   color: #000;
}

.row-subtotal-value 
{ 
   background: #f5f5f5;
   font-weight: bold;
   padding: 8px;
   font-size: 12pt;
   width: 150px;
   display: block;
   float: right;
   border: 1px solid #e3e3e3;
}

.serie-label
{ 
   background-color:#E6F2FF;
   padding: 2px;
   font-weight: bold;
   font-size: 16pt;
   color: blue;
}

.value-sumatoria
{
   border: 1px solid #fff;
   text-align:right; 
   background: #f5f5f5;
}

.label-sumatoria
{
   border: 1px solid #fff;
   text-align:right; 
   background: #E6F2FF;
}
   
.short { width: 30px; }

.middle { width: 70px; }

.ico-delete
{
   /*border: 1px solid black;*/
   text-align: right;
   width: 18px;
   float: right;
}
