#pagos
{
   font-size: 9pt;
}
#pagos tr td select
{
   width: 120px;
}
#pagos input
{
   width: 100px
}
#pagos tbody,thead tr th,td
{
   border: 1px solid #e3e3e3;
}

#pagos thead tr th 
{
   background: #f5f5f5; !important;
}
