body
{
   width: 500px;
   font-family: arial,sans-serif;
}

table 
{
   width: 100%;
   border: 1px solid black;
   border-collapse: collapse;
}

thead tr th 
{
   border: 1px solid black;
   background-color: #e3e3e3;
   padding: 4px;
}

tbody tr td 
{
   border: 1px solid black;
   padding: 4px;
}
         
tbody tr td.label
{
   width: 20%;
}

.footer 
{
   width: 100%;
   height: 60px;
}

.fecha
{ 
   width:30%; 
}
