<script type="text/html" id="motivo">
{{#debito}}
<select name="motivo" id="motivo_debito">
   <option value="0">Seleccione..</option>
   <option value="Cargo Adicional">Cargo a Adicional</option>
   <option value="Error en Factura">Error en Factura</option>
</select>
{{/debito}}
{{^debito}}
<select name="motivo" id="motivo_credito">
   <option value="0">Seleccione..</option>
   <option value="Devolucion de papeleria">Devolucion de Papeleria</option>
   <option value="Descuento no Cargado">Descuento no cargado</option>
</select>
{{/debito}}
</script>
