<script id="item-compra" type="text/html">
<tr id="material-{{id}}-sup" class="sup">
   <td>{{id}}<input type="hidden" name="Compra[compra_item][id][]" value="{{id}}"/></td>
   <td>{{material}}</td>
   <td>{{barcode}}</td>
   <td>
         <input type="text" id="cantidad-{{id}}" name="Compra[compra_item][cantidad][]" 
                value="1" style="width:50px;" onchange="calcularIvaxItem({{id}});">
   </td>
   <td>
      <input type="text" id="precio_unitario-{{id}}" name="Compra[compra_item][precio_unitario][]" 
             value="0" style="width:50px;" onchange="calcularIvaxItem({{id}});"  class="precio_unitario">

   </td>
   <td><input type="text" id="iva-{{id}}" name="Compra[compra_item][iva][]" value="0" style="width:50px;" readonly="readonly" class="iva"></td>
   <td><div id="total_item-{{id}}">0,00</div></td>
   <td><img src="{{PATH_SERVER}}/media/images/icons/cancel.png" onclick="eliminarItem({{id}});" /></td>
</tr>
<tr id="material-{{id}}-inf" class="inf">
   <td>&nbsp;</td>
   <td>
      Almacen:<select name="Compra[compra_item][almacen_id][]" id="almacen-{{id}}">
         <option value="1" selected="selected">Seleccione</option>
         {{#almacenes}}
         <option value="{{id}}">{{descripcion}}</option>
         {{/almacenes}}
      </select>
   </td>
   <td>&nbsp;</td>
   <td>&nbsp;</td>
   <td><div class="add-iva">Incluye IVA<input type="checkbox" id="incluye_iva-{{id}}" onchange="calcularIvaxItem({{id}});"/></div></td>
   <td>&nbsp;</td>
   <td>&nbsp;</td>
   <td>&nbsp;</td>
</tr>
</script>
