<script id="item-pago" type="text/html">
<tr>
  <td>{{num}}</td>
  <td>
      <select id="pago_forma_pago_id-{{num}}" name="Pago[forma_pago_id][]" onchange="toggle_banco(event);">
            <option value="0">Seleccione...</option>
         {{#forma_pago}}
            <option value="{{id}}">{{descripcion}}</option>
         {{/forma_pago}}
      </select>
   </td>
   <td>{{fecha}}</td>
   <td>
      <select id="pago_banco_id-{{num}}" name="Pago[banco_id][]">
            <option value="0">Seleccione...</option>
         {{#bancos}}
            <option value="{{id}}">{{descripcion}}</option>
         {{/bancos}}
      </select>
   </td>
   <td><input type="text" id="pago_numero_comprobante-{{num}}" name="Pago[numero_comprobante][]"></td>
   <td>{{user}}</td>
   <td>
      <select name="Pago[descripcion][]" id="pago_descripcion-{{num}}" onchange="chk_cancelar(this.value,this.id)">
         <option value="0">Seleccione...</option>
         <option value="Abono">Abono</option>
         <option value="Cancelacion">Cancelacion</option>
      </select>
   </td>
   <td><input type="text" id="pago_monto-{{num}}" name="Pago[monto][]" class="montos"></td>
   <td><img src="{{PATH_SERVER}}/media/images/icons/cancel.png"  /></td>
</tr>
</script>
