<script id="cliente-view" type="text/html">
<div style="text-align:right;"><button type="button" id="btnFormCliente">Editar</button></div>
<div id="border-view">
<input type="hidden" id="hd_cliente_id" value="{{cliente_id}}"/>
<table id="cliente_view">
   <tr>
      <td>RIF</td>
      <td>{{rif}}</td>
   </tr>
   <tr>
      <td>Razon social</td>
      <td>{{razon_social}}</td>
   </tr>
   <tr>
      <td>Representante Legal</td>
      <td>{{representante_legal}}</td>
   </tr>
   <tr>
      <td>Domicilio fiscal</td>
      <td>{{domicilio_fiscal}}</td>
   </tr>
   <tr>
      <td>Contribuyente</td>
      <td>{{contribuyente}}</td>
   </tr>
   <tr>
      <td>Cliente tipo</td>
      <td>{{cliente_tipo}}</td>
   </tr>
   <tr>
      <td>Telefono Celular</td>
      <td>{{telefono_celular}}</td>
   </tr>
   <tr>
      <td>Telefono residencial</td>
      <td>{{telefono_residencial}}</td>
   </tr>
   <tr>
      <td>Registro de comercio</td>
      <td>{{registro_de_comercio}}</td>
   </tr>
   <tr>
      <td>Email</td>
      <td>{{email}}</td>
   </tr>
</table>
</div>
</script>
