<script id="item-firma" type="text/html">
<tr>
   <td>{{razon_social}}
      <input type="hidden" id="hd_firma_id-{{firma_id}}" value="{{firma_id}}" />
   </td>
   <td>{{domicilio_fiscal}}</td>
   <td>{{telefonos}}</td>
   <td>{{registro}}</td>
</tr>
</script>
