<script id="item-sucursal" type="text/html">
<tr>
   <td>{{descripcion}}</td>
   <td>{{domicilio_fiscal}}</td>
   <td>{{telefonos}}</td>
   <td><div onclick="deleteSucursal('{{id}}');"><image src="{{PATH_SERVER}}/media/images/icons/cancel.png"></td>
</tr>
</script>
