<script id="sucursal-box" type="text/html">
<fieldset>
   <legend>{{firma}}</legend>
   <table class="table-form">
      <thead>
         <tr>
            <th>Descripcion</th>
            <th>Domicilio</th>
            <th>Telefono</th>
            <th>&nbsp;</th>
         </tr>
      </thead>
      <tbody id="{{tag}}">
         <tr>
            <td>Principal</td>
            <td><div id="principal_domicilio">{{principal_domicilio}}</div></td>
            <td><div id="principal_telefono">{{principal_telefono}}</div></td>
            <td>&nbsp;</td>
         </tr>
      </tbody>
      <tfoot>
        <tr id="{{tag}}_sucursales" class="hide">
            <td colspan="4">
               <div>
                  <table id="{{tag}}_sucursalForm" class="table-form">
                     <tr>
                        <td>Descripcion</td>
                        <td>
                           <input type="text" id="{{tag}}_descripcion" style="width:100%;">
                           <div id="{{tag}}_error-descripcion" class="cliente-error hide" style="">Descripcion es requerido</div>                           
                        </td>
                     </tr>
                     <tr>
                        <td>Domicilio Fiscal</td>
                        <td>
                           <textarea id="{{tag}}_domicilio_fiscal"></textarea>
                           <div id="{{tag}}_error-domicilio_fiscal" class="cliente-error hide" style="">Domicilio fiscal es requerido</div>
                        </td>
                     </tr>
                     <tr>
                        <td>Telefonos</td>
                        <td><textarea id="{{tag}}_telefonos"></textarea></td>
                     </tr>
                     <tr>
                        <td colspan="3" style="text-align:center;">
                           <button id="{{tag}}_BtnGuardarSucursal" type="button" onclick="addSucursal('{{tag}}');">Guardar</button>
                           <button id="{{tag}}_BtnCancelarSucursal" type="button" onclick="cancelarFormSucursal('{{tag}}');">Cancelar</button> 
                        </td>
                     </tr>
                  </table>
               </div>
            </td>
         </tr> 
         <tr id="{{tag}}_conFormSucursal">
            <td colspan="4" style="text-align:center;">
                  <button id="{{tag}}_btnAddSucursal" type="button" 
                           onclick="callFormSucursal('{{tag}}');">Crear Sucursal</button>
            </td>
         </tr>
      </tfoot>
   </table>
</fieldset>
</script>
