#content-notificacion
{
	background:#fff;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-top:1px solid gray;
	border-left:1px solid gray;
	border-right:1px solid gray;
	padding:10px;
	width:180px;
	position:fixed;
	bottom:0px;
	float:left;
	left:0px;
}

#notificacion
{
	max-height:209px;
	overflow:auto;
	width:100%;
	display:none;
}

#content-notificacion-buttons
{
	height:20px;
	background:#001F50;
}

#notificacion-numbers
{
	float:left;
	margin:2px 0 2px 2px;
	font-weight:bold;
   color: white;
}

#minimize
{
	background:url(../images/mail.google.com.png) no-repeat scroll -160px -100px;
	width:16px;
	height:16px;
	float:right;
	cursor:pointer;
	margin:2px;
}

#maximize
{
	background:url(../images/mail.google.com.png) no-repeat scroll -160px -80px;
	width:16px;
	height:16px;
	float:right;
	cursor:pointer;
	margin:2px 0;
}

#notificacion p.row
{
	padding:5px;
}

#notificacion p.row:nth-child(even) 
{
  background: #dde;
}

#notificacion p.row:nth-child(odd) 
{
  background: white;
}

#notificacion-item span.title
{
	font-weight:bold;
	width:100%;
}
