/*
.ui-tabs .ui-tabs-panel
{
  padding: 8px !important;
}


.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl
{
  border:none !important;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr
{
  border:none !important;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl
{
  border:none !important;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br
{
  border:none !important;
}
*/

.ui-widget-content
{
   border: 1px solid #e3e3e3 !important;
}


.ui-tabs .ui-tabs-panel{
   border: none !important; 
}
