<script type="text/html" id="item">
<tr id="tr-{{id}}">
   <td><input type="hidden" value="{{id}}" name="detalle[detalle-id][]">{{id}}</td>
   <td><input type="hidden" value="{{barcode}}" name="detalle[barcode][]">{{barcode}}</td>
   <td>
      {{material}}
      <input type="hidden" id="valor_detallado-{{id}}" name="detalle[valor_detallado][]"  value="{{valor_detallado}}" />
      <input type="hidden" id="descripcion_detallado-{{id}}" name="detalle[descripcion_detallado][]" value="{{descripcion_detallado}}" />
   </td>
   <td>{{almacen}}</td>
   <td style="width:5%;">
      <div id="existencia_unidad-{{id}}">{{existencia_unidad}}</div>
      <input type="hidden" id="orig_existencia_unidad-{{id}}" readonly="readonly" disabled="disabled" value="{{existencia_unidad}}"/>
      <input type="hidden" id="hd_existencia_unidad-{{id}}" name="detalle[existencia_unidad][]" />
   </td>
   <td style="width:5%;">
      <div id="existencia_detallado-{{id}}">{{existencia_detallado}}</div>
      <input type="hidden" id="orig_existencia_detallado-{{id}}" readonly="readonly" disabled="disabled" value="{{existencia_detallado}}"/>
      <input type="hidden" id="hd_existencia_detallado-{{id}}" name="detalle[existencia_detallado][]" />
   </td>
   <td>
      {{#maneja_detallado}}
      <select id="tipo_cantidad-{{id}}" name="detalle[tipo_cantidad][]" style="width:60px;">
         <option value="1">Unidad</option>
         <option value="2">Detallado</option>
      </select>
      {{/maneja_detallado}}
      {{^maneja_detallado}}
      <input type="text" disabled="disabled" value="unidad" style="width:60px;text-align:center;">
      <input type="hidden" name="detalle[tipo_cantidad][]" value="1">
      {{/maneja_detallado}}
      <input type="text" name="detalle[cantidad][]" id="cantidad-{{id}}" style="width:40px;" onchange="restar_inventario(this.id,this.value);"/>
      <img src="{{PATH_SERVER}}/media/images/icons/undo.png" onclick="undo({{id}});">
   </td>
   <td><img src="{{PATH_SERVER}}/media/images/icons/cancel.png" onclick="eliminar_item({{id}});"></td>
</tr>
</script>
